.header {
  background-color: blueviolet;
  color: #fff;
}

.main-section {
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  padding: 20px;
  color: #000;
}

.qr-code {
  display: absolute;
  margin: -10px 0 0 0;
}